.preloader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #777;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1.1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
